/* Colours */
:root {
    --colour-lightLemon: hsl(53, 87%, 94%);
    --colour-luminousAmethyst: hsl(307, 76%, 94%);
    --colour-electricLavendar: hsl(301, 50%, 44%);
    --colour-softIndigo: hsl(201, 100%, 81%);
    --colour-intenseSky: hsl(191, 80%, 26%);
    --colour-intenseNavy: hsl(227, 78%, 9%);

    /*Main use variables for the colours*/
    --c-main-bg: var(--c-lightLemon);
    --c-dark-text: ;
    --c-light-text: ;
    --c-alt-bg: ;
    
}

*,
*::before
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
}

img, picture, svg {
    max-width: 100%;
    display: block;
}

