/* Colours */
:root {
    --c-lightLemon: #FDFAE2;
    --c-luminousAmethyst: #FBE2F8;
    --c-electricLavendar: #A838A6;
    --c-softIndigo: #9FDEFF;
    --c-intenseSky: #0D6477;
    --c-intenseNavy: #050D29;

    /*Main use variables for the colours*/
    --colour-main-bg: var(--c-lightLemon);

}

*,
*::before
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
}

img, picture, svg {
    max-width: 100%;
    display: block;
}

